build.cfg
engine/debug/
engine/freetype-2.10.1.tar.gz
engine/jpegsrc.v9c.tar.gz
engine/libogg-1.3.4.tar.gz
engine/libpng-1.6.37.tar.gz
engine/libs-i386-linux-gnu/
engine/libs-i686-w64-mingw32/
engine/libs-x86_64-linux-gnu/
engine/libs-x86_64-w64-mingw32/
engine/libvorbis-1.3.6.tar.gz
engine/ode-0.14.tar.gz
engine/ode-0.14_linux32/
engine/ode-0.14_linux64/
engine/ode-0.14_win32/
engine/ode-0.14_win64/
engine/opus-1.3.1.tar.gz
engine/release/
engine/scintilla373.tar.gz
engine/scintilla373/
engine/speex-1.2.0.tar.gz
engine/speexdsp-1.2.0.tar.gz
engine/zlib-1.2.11.tar.gz
quakec/csaddon/csaddon.dat
quakec/csaddon/csaddon.lno
quakec/menu.dat
quakec/menu.lno
